
html
{
    height:100%;
}
body
{
    height:100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;

}

#logodiv
{
  font-size:10em;
  text-align: center;
  margin-left:auto;
  margin-right:auto;
}

.centered
{
  margin-left:auto;
  margin-right:auto;
  position: relative;
   top: 50%;
   transform: translateY(-50%);
}

.loginfield
{
  margin-left: 1em;
  margin-right:1em;
  margin-top:1em;
}

#submitdiv
{
  margin-left: auto;
  margin-right: 1em;
  text-align:right;
}

#login
{
  width:35em;
  height:20em;
  border-style:solid;
  border-width: 1px;
  background-color: white;
  border-radius: 5px;
  border-color:rgba(0,0,0,.2);
  opacity: .92;

}
